* {
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.App .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 40px;
  padding: 20px;
  margin: 10px 0 40px 0;
}
.App .inputArea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 50px 0;
}
.App .inputArea input {
  position: relative;
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 45px 10px 20px;
  border-radius: 4px;
  width: 40%;
}
.App .inputArea .addBtn {
  color: #000;
  font-size: large;
  position: absolute;
  right: 585px;
  cursor: pointer;
}
.noteMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.7);
}
.not {
  background: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX2451714.jpg);
  width: 300px;
  height: 500px;
  flex-direction: column;
  inline-size: 300px;
  word-break: break-all;
  flex-wrap: wrap;
  position: relative;
  line-height: 2;
  justify-content: space-between;
  display: flex;
  margin: 20px;
  color: #000;
  text-indent: 10px;
}
.not span {
  padding: 7px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 14; /* Metnin kaç satıra sığacağını belirtin */
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 600;
}
.dots {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
}
